.App {
  text-align: center;
}

.center-over-video {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  transition: 0.5s;
  white-space: nowrap;
}

.lightbox {
  height: 500px;
}

.blob-container {
  border: 1px solid #ccc;
  overflow: hidden;
}

.blob {
  width: 20px;
  height: 20px;
  background-color: #3498db;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1300px) {
    
  .center-over-video {
      justify-self: center;
      display: block;
      position: relative !important;
      top: unset;
      left: unset;
      transform: unset;
      border-radius: 0px;
      transition: 0.5s;
      white-space:nowrap;
      overflow: hidden;
      padding: 10px !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      margin-top: -50%;
  }
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}